In [21]:
import sys
sys.path.insert(0, '..')
import models_neural.quote_attribution.classification_models as cm 
import json
import attrdict
from models_neural.src.config_helper import TransformersConfig
import pandas as pd 
import zipfile
import models_neural.quote_attribution.utils_dataset as ud

In [22]:
from importlib import reload

In [23]:
reload(ud)

In [24]:
SourceQA, SourceClassifier = cm.SourceQA, cm.SourceClassifier
SourceQADataModule, SourceClassificationDataModule = ud.SourceQADataModule, ud.SourceClassificationDataModule

In [25]:
remote = False
if remote:
    data_fn = 'our-annotated-data__stage-2.tsv'
    config_out = 'config-%s.json' % "Stage 2: Quote Attribution. Our dataset only."
else:
    data_fn = '../models_neural/quote_attribution/data/our-annotated-data__stage-2.tsv'
    config_out = '../models_neural/quote_attribution/config-sentence-classification.json'
data_df = pd.read_csv(data_fn, sep='\t', header=None)

In [26]:
with open(config_out) as f:
    config_dict = json.load(f)

config_dict = attrdict.AttrDict(config_dict)
config_dict.pretrained_files_s3 = config_dict.pretrained_model_path
config_dict.model_type = 'roberta'
config_dict.shuffle_data = False

In [89]:
config_dict.downsample_negative_data = 1

In [94]:
config_dict.num_documents = None

In [95]:
data_model = SourceClassificationDataModule(
    config=config_dict,
    data_fp=data_fn,
    model_type='roberta',
    max_length_seq=2048,
    pretrained_model_path=config_dict.pretrained_model_path,
    batch_size=1,
    spacy_path='en_core_web_lg'
)

In [96]:
dataset = data_model.get_dataset()

  0%|          | 0/335 [00:00<?, ?it/s]

not found Pacific Tsunami Warning Center, test...
not found The Sydney Morning Herald, test...
not found Río Paya cooperative, test...
not found Peninsula , test...
not found “ Today ” show, test...
not found ICE, test...
not found Canesius Ndayimanisha, test...
not found MoMA PS1, test...

In [97]:
len(dataset)

29906

In [101]:
pd.Series(list(map(lambda x: x['label'], dataset))).value_counts()

True     14953
False    14953
dtype: int64

In [107]:
import unidecode
data_df[0].apply(unidecode.unidecode).pipe(lambda s: s == '"').value_counts()

False    13697
True      2096
Name: 0, dtype: int64

In [113]:
t = pd.DataFrame(dataset.input).loc[lambda df: df['label'] == True]

In [116]:
t['doc_tokens'].drop_duplicates()

0        [0, 5226, 18718, 111, 2236, 163, 9298, 530, 93...
53       [0, 5226, 18718, 111, 2236, 6823, 23791, 565, ...
130      [0, 5226, 18718, 111, 2236, 83, 9823, 14, 5, 1...
173      [0, 5226, 18718, 111, 2236, 1261, 16, 4568, 13...
286      [0, 5226, 18718, 111, 2236, 15123, 1889, 387, ...
                               ...
29601    [0, 5226, 18718, 111, 2236, 18683, 5809, 38, 6...
29632    [0, 5226, 18718, 111, 2236, 38, 1301, 448, 521...
29684    [0, 5226, 18718, 111, 2236, 96, 5, 2625, 81, 2...
29736    [0, 5226, 18718, 111, 2236, 20, 2903, 539, 34,...
29872    [0, 5226, 18718, 111, 2236, 7135, 21850, 2156,...
Name: doc_tokens, Length: 322, dtype: object

In [124]:
tokenizer.decode(t['doc_tokens'].drop_duplicates().iloc[2])

'<s> journalist passive - voice A firearm that the authorities said was used on Sunday in a mass shooting at a nightclub in Orlando, Fla., is a descendant of one of the world</s><s> ’s most widely distributed and familiar infantry weapons, and a type of rifle that has been involved in previous mass shootings in the United States.</s><s> Chief John Mina of the Orlando Police Department said the gunman ’s weapons included a handgun and an “ AR-15 - type assault rifle.</s><s> ”</s><s> The first AR-15s were designed in the 1950s by Eugene M. Stoner, a Marine and inventor, who developed the weapon to military standards and for military service.</s><s> It was an atypical rifle for its time, seemingly futuristic, and made partly with lightweight plastics and aluminum that traditionalists scorned.</s><s> It fired a small - caliber, high - velocity bullet — the.223</s><s> — that was also considered revolutionary.</s><s> The rifle was capable, via a selector lever, of semiautomatic or automatic fire.</s><s> In the 1960s, under Defense Secretary Robert S. McNamara, the Pentagon bought vast quantities of the rifle, calling it the M-16, for American ground troops in Vietnam.</s><s> The M-16 ’s firepower and reputation for lethality were necessary, in Mr. McNamara ’s view, to counter the Kalashnikov assault rifles carried by the North Vietnamese Army and Vietcong.</s><s> In this way, the M-16 and the Kalashnikov became a related pair, the assault rifle of the West springing into service as a response to the more widely distributed assault rifle of the East.</s><s> A half - century later, AR-15s and M-16s are made in varied forms by multiple manufacturers, and updated versions, including the M-4 carbine, remain the standard shoulder - fired weapon for most American service members and many allies.</s><s> Civilian versions have many trade and model names, but are generally referred to as AR-15s, although this name is a rough description and does not indicate whether a particular specimen of the rifle is capable of both semiautomatic fire and automatic fire, or is semiautomatic only.</s><s> The police have not said whether the weapon recovered in Orlando was capable of automatic fire.</s><s> Such questions are politically contentious, although depending on a shooter ’s skill and the situation, they can sometimes be moot, as aimed semiautomatic fire from a competent shooter can be far more dangerous than automatic fire, which is harder to control and is often inaccurate.</s><s> AR-15s that fire only on semiautomatic are generally legal in the United States, and are widely owned by assault - rifle enthusiasts.</s><s> They are also sometimes used in crimes, and have been involved in some of the most deadly mass shootings in American history, including the massacre in December in San Bernardino, Calif., which killed 14 people, and the attack in 2012 at Sandy Hook Elementary School in Newtown, Conn., which killed 26 people, 20 of them children.</s><s> ( That gunman also killed his mother at home before driving to the school. )</s><s> The AR-15 ’s once unfamiliar cartridge — now commonly called 5.56 - millimeter rather than.223 — also became a military standard, and the rifle - and - cartridge combination can cause serious wounds, though the damage is determined partly by the type of bullet fired.</s><s> Investigators in Orlando have yet to provide details on the bullets that were fired in the attack.</s>'

In [125]:
t

,source_ind_tokens,sentence_ind_tokens,doc_tokens,label,doc_idx,sent_idx,annotated_source,candidate_source
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 163, 9298, 530, 93...",True,/train/902,NaN,None,None
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 163, 9298, 530, 93...",True,/train/902,NaN,None,None
6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 163, 9298, 530, 93...",True,/train/902,NaN,None,None
7,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 163, 9298, 530, 93...",True,/train/902,NaN,None,None
8,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 163, 9298, 530, 93...",True,/train/902,NaN,None,None
...,...,...,...,...,...,...,...,...
29899,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 7135, 21850, 2156,...",True,/train/716,NaN,Elizabeth Holmes,Elizabeth Holmes
29900,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 7135, 21850, 2156,...",True,/train/716,NaN,Elizabeth Holmes,Elizabeth Holmes
29902,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 7135, 21850, 2156,...",True,/train/716,NaN,company spokesman,company spokesman
29903,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 7135, 21850, 2156,...",True,/train/716,NaN,None,None
29904,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 5226, 18718, 111, 2236, 7135, 21850, 2156,...",True,/train/716,NaN,None,None

In [36]:
true_examples = list(filter(lambda x: x['label'] == True, data_model.test_dataset))

In [40]:
from transformers import AutoTokenizer

In [41]:
tokenizer= AutoTokenizer.from_pretrained('/Users/alex/.cache/torch/transformers/named-models/roberta-base-expanded-embeddings')

In [42]:
tokenizer.decode(data_model.test_dataset[0]['doc_tokens'])

'<s> journalist passive - voice In a rare display of internal strife, the opinion department of The Wall Street Journal openly antagonized the paper ’s news staff Thursday by publishing a tersely worded note to readers just days after it found itself on the receiving end of a sharply worded critique signed by hundreds of newsroom employees.</s><s> Turmoil inside the buttoned - up newsroom had been brewing for more than a month before the clash spilled into the view of the paper ’s readership.</s><s> The latest skirmish started Tuesday, when nearly 300 of The Journal ’s news staff members sent a sharply worded letter to the paper ’s publisher, Almar Latour, condemning the opinion desk</s><s> ’s</s><s> “ lack of fact - checking and transparency.</s><s> ”</s><s> The letter cited several examples of essays published by the opinion section, which is operated separately from the newsroom, that included factual errors, among them a June 16 article by Vice President Mike Pence.</s><s> The essay, with the headline “ There Is n’t a Coronavirus ‘ Second Wave, ’ ” was ultimately corrected.</s><s> The letter highlighted how the newsroom ’s own reporting more than a week earlier was at odds with Mr. Pence ’s claims.</s><s> “ Opinion articles often make assertions that are contradicted by WSJ reporting, ” the letter said.</s><s> In the unadorned style typical of Journal articles, the 1,400 - word note documented what it said were several other fact - checking lapses in opinion essays.</s><s> The letter also said a contributor to the opinion section had endangered one of The Journal ’s Middle East - based journalists when the contributor “ falsely claimed in a tweet ” that the reporter had ties to the Muslim Brotherhood.</s><s> The reporter, Summer Said, cited the tweet, since deleted, from the contributor, Andy Ngo, in October 2018.</s><s> Mr. Ngo, a conservative journalist, has written several opinion articles for The Journal, including a 2018 piece that cited prominent displays of Islamic dress on the streets of London as an example of “ failed multiculturalism.</s><s> ”</s><s> “</s><s> The safety of our reporter was put at risk by this false claim because she worked frequently in Saudi Arabia, which views the Brotherhood as an enemy, ” the letter read.</s><s> “ Members of the newsroom were told that the Opinion page agreed to stop using this contributor, ” the letter continued, “ but months later he was back writing for the section, suggesting that even endangering a WSJ employee by publishing misinformation is n’t a serious infraction.</s><s> ”</s><s> Dow Jones, the publisher of The Journal, declined to comment on the matter.</s><s> The editorial board shot back on Thursday.</s><s> Instead of responding directly to the newsroom, it addressed its note to the paper</s><s> ’s readers.</s><s> “</s><s> In the spirit of collegiality, we wo n’t respond in kind to the letter signers, ” it said.</s><s> “</s><s> Their anxieties are n’t our responsibility in any case.</s><s> ”</s><s> The board described the in - house unrest by saying that “ it was probably inevitable that the wave of progressive cancel culture would arrive at the Journal, as it has at nearly every other cultural, business, academic and journalistic institution.</s><s> ”</s><s> The four - paragraph response did not address the accusations of factual inaccuracy.</s><s> “</s><s> The opinion pages will continue to publish contributors who speak their minds, ” it said, adding that their work had become “ more important than ever in what is a culture of growing progressive conformity and intolerance.</s><s> ”</s><s> Lauren Weber, a reporter at The Journal, said on Twitter, “ To call the letter, which I signed, an example of ‘ cancel culture ’ is a gross mischaracterization.</s><s> ”</s><s> The opinion desk has been overseen by the editorial page editor Paul Gigot for nearly two decades.</s><s> Mr. Gigot declined to comment beyond the note.</s><s> The Journal ’s editorial board ultimately answers to Rupert Murdoch, the owner of The Journal since 2007.</s><s> He also controls Fox News through his other business,</s><s> Fox Corp. Mr. Murdoch declined to comment.</s><s> Mr. Latour, who in May was named the publisher of The Journal and the chief executive of its parent company, Dow Jones, declined to comment.</s><s> The Journal is one of many media organizations, including The Times, The Philadelphia Inquirer, The Los Angeles Times, Fox News, Hearst and Condé Nast, where staff members have questioned leadership at a time of widespread protests against racism and police brutality prompted by the killing in May of George Floyd, a Black man in Minneapolis who died after a white police officer pressed a knee to his neck.</s><s> The Times ’s editorial page editor, James Bennet, resigned last month after roughly 1,000 of the paper</s><s> ’s staff members signed a letter protesting the publication of an Op - Ed by a United States senator calling for a military response to domestic civil unrest.</s><s> At The Journal, a group identifying itself as “ members of the WSJ newsroom ” said in a June 23 letter to the editor in chief, Matt Murray, that the paper must “ encourage more muscular reporting about race and social inequities, ” and called for fundamental changes in its news coverage.</s><s> That note came two weeks after more than 150 newsroom employees sent a letter to Journal leaders saying the paper ’s coverage of race was “ problematic ” and that its staff was not diverse enough.</s><s> A week before that, Journal reporters and editors sent a letter requesting that the paper ’s previous editor in chief, Gerard Baker, who had stayed on as a news columnist, be reassigned to the opinion section.</s><s> Faulting columns he had written on race, the letter said his work had violated newsroom standards.</s><s> Mr. Baker was moved to the opinion staff the day after the letter was sent.</s><s> Bill Grueskin, a former editor at The Journal, said there had been a longstanding beef between the paper ’s news and opinion desks, adding that those on the news side would often “ grumble quietly ” about the editorials.</s><s> “</s><s> Not so much because of the politics</s><s>, ” he said, “ but because of their issues with accuracy and leaps of logic.</s><s> ”</s><s> He chided the editorial board</s><s> ’s response as “ indicative of the very problems the newsroom cited</s><s> — it ’s inaccurate.</s><s> ”</s><s> He added, “ The newsroom is n’t trying to ‘ cancel ’ anyone. ”</s><s> Referring to the board ’s letter to readers, he said, “</s><s> And it failed to address the most serious failing, which is that they continued to publish pieces by someone who endangered a staffer ’s safety and career.</s><s> ”</s><s> The Journal ’s newsroom employees said in the Tuesday letter that the opinion desk</s><s> ’s</s><s> factual inaccuracies and lack of fairness had gotten in the way of their ability to do their jobs.</s><s> “</s><s> Many readers already can not tell the difference between reporting and Opinion, ” it read.</s><s> “</s><s> Some of us have been told by sources that they wo n’t talk to us because they do n’t trust that the WSJ is independent of the editorial page ; many of us have heard sources and readers complain about the paper</s><s> ’s ‘ bias ’ as a result of what they ’ ve read in Opinion.</s><s> ”</s>'

In [85]:
pd.DataFrame(true_examples)['doc_idx'].unique()

array(['/test/825', '/test/561', '/test/589', '/test/931', '/test/580',
       '/test/381', '/test/377', '/test/803', '/test/560', '/test/497',
       '/test/460', '/test/946', '/test/929', '/test/27', '/test/597',
       '/test/849', '/test/496', '/test/31', '/test/590', '/test/10',
       '/test/388', '/test/907', '/test/824', '/test/16', '/test/32',
       '/test/903', '/test/498', '/test/581', '/test/393', '/test/454',
       '/test/488'], dtype=object)

In [48]:
true_examples[0]['source_ind_tokens']

6

In [53]:
true_examples_with_zero_source = list(filter(lambda x: sum(x['source_ind_tokens'])== 0, true_examples))

In [57]:
true_examples_with_zero_source[0]['annotated_source']

'None'

In [60]:
true_examples_with_zero_source[0]['candidate_source']

'None'

In [74]:
pd.concat([
    pd.Series(true_examples_with_zero_source[0]['doc_tokens']),
    pd.Series(true_examples_with_zero_source[0]['sentence_ind_tokens']),
], axis=1).loc[lambda df: df[1] == 1][0].apply(tokenizer.decode)

1151               <s>
1152     Revolutionary
1153              acts
1154              come
1155                at
1156                 a
1157              cost
1158                 .
1159              </s>
Name: 0, dtype: object

In [75]:
len(true_examples)

150

In [78]:
data_df.loc[lambda df: df[3].str.contains('/test/')].assign(c=1).groupby([1, 3])['c'].value_counts()

1                                 3          c
\tBambang Soelistyo               /test/776  1    2
\tEnvironmental officials         /test/172  1    1
 Federal Aviation Administration  /test/497  1    1
2010 study                        /test/27   1    2
2011 United Nations report        /test/597  1    1
                                                 ..
white house fact sheet            /test/448  1    1
witnesses                         /test/404  1    1
woman                             /test/10   1    1
Édouard Philippe                  /test/789  1    1
“ Today ” show                    /test/549  1    8
Name: c, Length: 783, dtype: int64

In [29]:
data_df.loc[lambda df: df[3].str.contains('/test/')]

,0,1,2,3
162,China is canceling plans to build more than 10...,China,0,/test/903
163,"The announcement , made by China ’s National E...",China ’s National Energy Administration,1,/test/903
164,That includes dozens of projects in 13 provinc...,China ’s National Energy Administration,2,/test/903
165,Those projects alone would have had a combined...,Greenpeace,3,/test/903
166,The cancellations make it likelier that China ...,None,4,/test/903
...,...,...,...,...
15677,Thousands of family members and fellow miners ...,None,22,/test/740
15678,The precise number of miners still underground...,None,23,/test/740
15679,Mr. Yildiz said on Tuesday that 787 workers we...,Taner Yildiz,24,/test/740
15680,Turkey ’s disaster management agency estimated...,disaster management agency,25,/test/740
15681,"As the death toll mounted , rescuers used a co...",news reports,26,/test/740

In [ ]:
for idx, sample in tqdm(enumerate(data_model.test_dataset), total=len(data_model.test_dataset)):
    sample = data_model.collate_fn([sample])