In [1]:
import marisa_trie

In [6]:
keys = [u'foo', u'bar', u'foobar', u'foo']
values = [(1, 2, 5), (2, 1, 20), (3, 3, 3), (3, 2, 1)]
fmt = "<HHH"   # two short integers.

In [7]:
trie = marisa_trie.RecordTrie(fmt, zip(keys, values))

In [12]:
trie.items()

[('foo', (1, 2, 5)),
 ('foo', (3, 2, 1)),
 ('foobar', (3, 3, 3)),
 ('bar', (2, 1, 20))]

In [15]:
it = iter([1,2,3])

In [23]:
it

In [28]:
import pandas as pd

In [26]:
a = [{'a':1, 'b': 2}, {'a':1, 'b': 3}, {'a':1, 'b': 4}]
b = [{'a':1, 'b': 2}, {'a':1, 'b': 3}, {'a':1, 'b': 4}, {'a':1, 'b': 6}]

In [37]:
(pd.Series([a, b]).apply(pd.Series)
 .unstack()
 .reset_index(drop=True)
 .dropna()
 .pipe(lambda s: pd.DataFrame(s.tolist()))
)

   a  b
0  1  2
1  1  2
2  1  3
3  1  3
4  1  4
5  1  4
6  1  6

In [38]:
import re

In [39]:
re.sub('\s', '  ', 'Hello there you')

'Hello  there  you'

In [40]:
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English
nlp = English()
# Create a blank Tokenizer with just the English vocab
tokenizer = Tokenizer(nlp.vocab)

In [43]:
tokens = tokenizer("This is a sentence")

In [45]:
list(map(str, tokens))

['This', 'is', 'a', 'sentence']

In [46]:
import datetime
import lxml
import xmltodict

In [80]:
fname = '../models/Quotebank/quootstrap/resources/spinn3r-sample.xml'
with open(fname) as f:
    d = f.read()

In [81]:
fname.endswith('.xml')

True

In [95]:
t= xmltodict.parse(i)

In [96]:
isinstance(t, dict)

True

In [118]:
t['item']['post:date_found']

'2008-08-01T00:01:20Z'

In [111]:
t2 = '2008-08-01T00:01:20'

In [112]:
import datetime

In [113]:
datetime.datetime.strptime(t2, .)

datetime.datetime(2008, 8, 1, 0, 1, 20)

In [121]:
c = t['item']['description']

In [123]:
import re

In [130]:
from spacy.pipeline import Sentencizer

In [140]:
nlp.add_pipe('sentencizer')

In [132]:
s = Sentencizer()

In [142]:
list(nlp(c).sents)

[<em>One of Brian Becker's excellent photos found on Flickr.</em><br /><br />I noticed recently that Congo is finally getting onto Flickr, the free online albums service offered by Yahoo.,
 Considering the proportions, Congo is still not a hot keyword in the pool of <strong>5 million searchable images</strong>.<br /><br />Not too many images, but nonetheless some noticeable ones.,
 If you're on Firefox, ladies and gents, I invite you to Ctrl-Click frenzy on the links below.<br /><br />Brian Becker, apparently stationed in Kisangani (the middle of the forest),  has this not so pretty, but very interesting <a href="http://www.flickr.com/photos/brianjbecker/211876544/">photo of a political rally on pirogues</a>.,
 Damn, only in Congo.<br /><br />Still from Brian, this pretty low light shot of <a href="http://www.flickr.com/photos/brianjbecker/158079155/">two people talking</a>, or this <a href="http://www.flickr.com/photos/brianjbecker/129576355/">balcony shot of a corner in Kisangani</a> (read the comments and mouse over the image), or this typical <a href="http://www.flickr.com/photos/brianjbecker/265387438/">group photo at a wedding</a>.,
 Love the shirts and note how no one smiles.<br /><br />A friend, Christelle, also put her nice photos online, and some of Congo too.,
 Take a look at <a href="http://www.flickr.com/photos/christellethomas/sets/72157594266248162/">climbing the volcano</a>, from last year.,
 I also liked the <a href="http://www.flickr.com/photos/christellethomas/233488429/">funky feminine hairdos</a> that we see outside Kinshasa.<br /><br />Otherwise, I liked this photo of <a href="http://www.flickr.com/photos/unitedcolours/198212910/">cops playing trumpets </a>from an unknown person or this old <a href="http://www.flickr.com/photos/sabenien/67010358/">SABENA poster for Congo</a> and, finally, one of the few <a href="http://www.flickr.com/photos/justincallison/85099583/">landscape shot of pretty Eastern Congo</a> I could find.<br /><br />That's it for now.,
 When are we going to see your Congo photos on Flickr?]

In [85]:
item.strip()

''

In [76]:
my_dict

OrderedDict([('student',
              OrderedDict([('id', 'FA18-RSE-012'),
                           ('name',
                            OrderedDict([('firstName', 'Kamran'),
                                         ('middleName', 'Kamran'),
                                         ('lastName', 'Kamran')])),
                           ('email', 'kamran@example.com'),
                           ('smeseter', '4'),
                           ('class', 'MSSE'),
                           ('subjects',
                            OrderedDict([('sub1', 'ASPMI'),
                                         ('sub2', 'ASQA'),
                                         ('sub3', 'ASPM'),
                                         ('sub4', 'Semantic Web')]))]))])

In [148]:
re.sub('^(?![\w\d\s?])', '', 'Hello4 ___')

'Hello4 ___'

In [150]:
re.sub('(?![A-Za-z0-9\s?])', '', 'Hello4 ___')

'Hello4 ___'

In [171]:
re.sub('^[A-Za-z0-9\s?]', '', '___ Hello4 ___ there')

'___ Hello4 ___ there'

In [193]:
re.sub('[^A-Za-z\s\d?]', '', '___ Hello4 ___ there?')

' Hello4  there?'