In [67]:
import pickle
import pandas as pd 
import bokeh.palettes as palettes
import sys
sys.path.insert(0, '../scripts/')
import coref_resolution_util as c

In [116]:
from more_itertools import unique_everseen
from copy import deepcopy
from IPython.display import display, HTML

In [101]:
from importlib import reload
reload(c)

In [129]:
fname = '../data/output/newssniffer-nytimes/output_chunk__start-15_end-2015.pkl'
with open(fname, 'rb') as f:
    processed = pickle.load(f)

In [133]:
processed_df = pd.DataFrame(processed).drop_duplicates('entry_id')

In [135]:
processed_df.iloc[0]

entry_id                                                  548021
version                                                        0
quote_idxes                 head_span  head_s_idx  \
head_ref...
sent_parse     [[SANTIAGO, ,, Chile, —], [They, appear, at, t...
Name: 0, dtype: object

In [137]:
idx = 0
q = processed_df.iloc[idx]['quote_idxes']
s = processed_df.iloc[idx]['sent_parse']
l = list(map(len, s))

In [176]:
if len(q) < 10:
    cmap = palettes.Set3_11
elif len(q) < 20:
    cmap = list(unique_everseen(palettes.Set3_11 + palettes.Spectral11))
else:
    cmap = list(unique_everseen( palettes.Set3_11 + palettes.Spectral11 + palettes.Category20_20))

comp_mapper = {i:idx for idx, i in enumerate(q.index.tolist())}
source_idx_head_mapper = (
 q
 .assign(head=lambda df: df.apply(lambda x: ' '.join(s[x['head_s_idx']][
        x['head_span'][0] - sum(l[:x['head_s_idx']]):
        x['head_span'][1] - sum(l[:x['head_s_idx']])
    ]
    ), axis=1 ))
    ['head'].to_dict()
)

span_df = (
 q
 .assign(q=lambda df: df.apply(lambda x: 
   list(map(lambda y: {'source': x.name, 'sent': y[0], 'span': y[1], 'type': 'quote'}, x['quote_chunks'] )), axis=1))
 .assign(b=lambda df: df.apply(lambda x: 
   list(map(lambda y: {'source': x.name, 'sent': y[0], 'span': y[1], 'type': 'background'}, x['background_chunks'] )), axis=1))
 .apply(lambda x: x['q'] + x['b'], axis=1)
 .pipe(lambda s: pd.DataFrame(c.flatten_list_of_lists(s.tolist())))
 .sort_values('sent', ascending=False)
 .assign(head=lambda df: df['source'].map(source_idx_head_mapper))
 .assign(source=lambda df: df['source'].map(comp_mapper))
)

In [195]:
source_idx

0

In [196]:
span_df

    source  sent          span        type            head
22       3    75  (1400, 1401)       quote      Luis Parra
23       3    74  (1400, 1401)       quote      Luis Parra
24       3    73  (1400, 1401)       quote      Luis Parra
15       0    69  (1323, 1324)       quote  Marta Cisterna
1        0    68  (1323, 1324)       quote  Marta Cisterna
13       0    67  (1323, 1324)       quote  Marta Cisterna
2        0    66  (1323, 1324)       quote  Marta Cisterna
12       0    62  (1176, 1177)       quote  Marta Cisterna
17       0    61  (1176, 1177)       quote  Marta Cisterna
5        0    60  (1176, 1177)       quote  Marta Cisterna
8        0    59  (1176, 1177)       quote  Marta Cisterna
14       0    58  (1176, 1177)       quote  Marta Cisterna
6        0    55  (1109, 1110)       quote  Marta Cisterna
25       3    52  (1043, 1045)       quote      Luis Parra
19       2    46    (941, 942)       quote   Matías Sotelo
20       2    45    (889, 890)       quote   Matías Sotelo
21       2    44    (857, 859)  background   Matías Sotelo
18       1    42    (832, 834)       quote     Germán Chau
11       0    27    (506, 507)       quote  Marta Cisterna
10       0    26    (506, 507)       quote  Marta Cisterna
4        0    25    (506, 507)       quote  Marta Cisterna
7        0    24    (506, 507)       quote  Marta Cisterna
0        0    23    (506, 507)       quote  Marta Cisterna
9        0     8    (176, 178)       quote  Marta Cisterna
16       0     7    (176, 178)       quote  Marta Cisterna
3        0     6    (176, 178)       quote  Marta Cisterna

In [197]:
import numpy as np

In [200]:
s_html = deepcopy(s)
old_s_idx = None
# quotes and backgrounds
for idx, (source_idx, sent_idx, quote_span, quote_type, head) in span_df.iterrows():
    if old_s_idx != sent_idx:
        adj = sum(l[:sent_idx])
    sent, adj = c.format_span_with_word_list(adj=adj, sent=s[sent_idx], span=quote_span, bold=True)
    s_html[sent_idx] = {
        'sent':' '.join(sent),
        'type': quote_type.upper(),
        'head': head,
        'color': cmap[source_idx],
        'source_idx': source_idx
    }

# regular
for s_idx, sent in enumerate(s_html):
    if isinstance(sent, list):
        s_html[s_idx] = {
            'sent': ' '.join(sent), 
            'type': '',
            'source_idx': 'null'
        }

In [183]:
display(HTML('<br><br>'.join(s_html).replace('$', '\$')))

TypeError: sequence item 0: expected str instance, dict found

In [201]:
import json
with open('../app/data/test-json.json', 'w') as f:
    json.dump(s_html, f)